.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-wrapper {
  border: 2px solid #808080d6;
  min-width: 500px;
}

@media only screen and (max-width : 540px) {
  .users-wrapper {
    min-width: 300px;
  }
}

.user-wrapper__border {
  border-bottom:1px solid #80808052; ;

}

.users-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.users-info {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.users-name {
  font-size: 14px;
  color: #363636  ;
  font-weight: 500;
}

.users-nickname {
  font-size: 14px;
  color: #808080;
}

.users-img {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  object-fit: cover;
}

.btn {
  padding: 10px 0;
  border: 1px solid #80808052;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.user-btn {
  padding: 5px 8px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}